<div class="site"> 
    <!--Site Header-->
    <div class="site-header">
        <mat-toolbar>
            <span class = 'application-title'>
                <mat-icon id='ecoMatIcon'>eco</mat-icon> 
                <h1>{{title}}</h1>
            </span>
            <span class="header-buttons" [ngClass] = "{'hide-content': !((screenSize === 'x-large') || (screenSize === 'large') || (screenSize === 'medium'))}">
                <button mat-button (click) = "routerApp('home')" routerLink="/home" >
                    Home
                </button>
                <button mat-button (click) = "routerApp('angular-tour-of-heros')" routerLink="/angular-tour-of-heros/dashboard">
                    Angular Tour of Heros
                </button>
                <button mat-button (click) = "routerApp('password-manager')" routerLink="/home">
                    Password Manager
                </button>
                <button mat-button (click)= "routerApp('home')" routerLink="/home">
                    Clear
                </button> 
            </span>
            <span class='hamburger-menu'  [ngClass] = "{'hide-content': ((screenSize === 'x-large') || (screenSize === 'large') || (screenSize === 'medium'))}">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click) = "routerApp('home')" routerLink="/home" >
                        Home
                    </button>
                    <button mat-menu-item (click) = "routerApp('angular-tour-of-heros')" routerLink="/angular-tour-of-heros/dashboard">
                        Angular Tour of Heros
                    </button>
                    <button mat-menu-item (click) = "routerApp('password-manager')" routerLink="/home">
                        Password Manager
                    </button>
                    <button mat-menu-item (click)= "routerApp('home')" routerLink="/home">
                        Clear
                    </button> 
                </mat-menu>
            </span>
        </mat-toolbar>
    </div>

    <!--Site Body-->
    <div class="site-body">
        <div *ngIf = 'routeApp === "angular-tour-of-heros"'>
            <app-angular-tour-of-heros></app-angular-tour-of-heros>
        </div>
        <div *ngIf = 'routeApp === "home"'></div>    
        
        <!-- Router Outlet  -->
        <router-outlet></router-outlet>
        
        <div *ngIf = 'routeApp === "angular-tour-of-heros"'>
            <app-messages></app-messages>
        </div>
    </div>

    <!--Site Footer-->
    <div class="site-footer">
        
    </div>

</div>