.site {
    background-color : rgb(208, 209, 205);
    height: 100%;
}
.site-header > h1 {
    margin: 0px 0px 0px 10px ;
}
.site-header > button {
    margin: 10px 0px 10px 10px;
    width: auto;
}
.header-spacer {
    flex: 1 1;
}
#ecoMatIcon {
    float: left;
}